numpy
pandas
ipykernel
openai
tqdm
langchain==0.0.133
PyYAML
matplotlib
seaborn
tiktoken
chromadb==0.3.21
google-api-python-client
apify-client
dirtyjson
anyio>=4.4.0 # not directly required, pinned by Snyk to avoid a vulnerability